@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: #e4a023;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

.nav-left {
    float: left;
}

// not mobile
@media (min-width: 768px) {
    .nav-right ul li {
        padding-left: 20px !important;
    }

    nav {
        height: 58px !important;
    }
    .nav-left ul {
        font-size: 28px;
    }

    .below-image {
        width: 85vw;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }

    .google-map {
        width: 40vw !important;
        height: 30vw !important;
    }

}

.nav-left ul {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.nav-right {
    text-align: right;
}

.nav-right ul li{
    display: inline-block;
    font-size: 20px;
}

.flex-grid-thirds {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}
.flex-grid-thirds .col {
    width: 24%;
    margin-bottom: 20px;
}

.images {
    width: 100%;
    border-radius: 5px;
    transition: transform .3s;
}

.images:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.detail_image {
    width:85vw;
    max-width: 1200px;
    height: 60vw;
    border-radius: 5px;
}

.image_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: white;
    font-size: 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button a {
    text-decoration: none;
    color: black;
}

@media (max-width: 676px) {
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}

.tags {
    border: black solid 1px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.tags a {
    text-decoration: none;
    color: black;
}

.tags:hover {
    background-color: black;
}

.tags:hover a {
    color: white;
}

.tag-wrapper {
    text-align: center;
}

.tag-buttons {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    margin: 15px;
}

.tag-buttons:hover {
    background-color: #555555;
}

.tag-buttons:hover a {
    color: white;
}

.external-button {
    background-color: white;
    border: 2px solid #e4a023;
}

.external-button:hover {
    background-color: #e4a023;
}

.external-button:hover a {
    color: white;
}

.google-map {
    width: 85vw;
    height: 60vw;
}
