* {
    box-sizing: border-box;
}
body {
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #26CE81;
    font-weight: bold;
}

.nav-left {
    float: left;
}

@media (max-width: 767px) {
    .image_icon {
        height: 30px;
    }
}

// not mobile
@media (min-width: 768px) {
    nav ul li a {
        font-size: 20px;
    }

    .nav-right ul li {
        padding-left: 20px !important;
    }

    nav {
        height: 58px !important;
    }

    .image_icon {
        max-height: 58px !important;
    }
}

.nav-left ul li {
    text-align: left;
}

.nav-right {
    text-align: right;
}

.nav-right ul li{
    display: inline-block;
}

.flex-grid-thirds {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 0 20px 0;
}
.flex-grid-thirds .col {
    width: 24%;
    margin-bottom: 20px;
}

.images {
    width: 100%;
    border-radius: 5px;
}

.detail_image {
    width:85vw;
    height: 60vw;
}

.image_wrapper {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

@media (max-width: 676px) {
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}
