* {
    box-sizing: border-box;
}
body {
    padding: 20px;
}

.flex-grid-thirds {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 0 20px 0;
}
.flex-grid-thirds .col {
    width: 24%;
    margin-bottom: 20px;
}

.images {
    width: 100%;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

@media (max-width: 676px) {
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}
